# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [10]:
# New York City Data
pt = [40.7128, -74.0060]
population = 8336817
area = 783.8 # in sq meters

# The task
density = population / area
print(f'New York Density: {density} population per square meters')
print(f'New York Location: Latitute: {pt[0]}, Longitude: {pt[1]}')

New York Density: 10636.408522582293 population per square meters
New York Location: Latitute: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [11]:
city = "San Francisco"

# The task
print(city.lower())
print(city.upper())
print(city.replace("San", "Los"))

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [12]:
# List of tuples data
list = [
    ('New York City', [40.7128, -74.0060]),
    ('Los Angeles', [34.0522, -118.2437]),
    ('Chicago', [41.8781, -87.6298])
]

# The task
newTup = ('Miami', [25.7617, -80.1918])
list.append(newTup)

print(list)
print(f'First two cities: {list[:2]}')

[('New York City', [40.7128, -74.006]), ('Los Angeles', [34.0522, -118.2437]), ('Chicago', [41.8781, -87.6298]), ('Miami', [25.7617, -80.1918])]
First two cities: [('New York City', [40.7128, -74.006]), ('Los Angeles', [34.0522, -118.2437])]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [13]:
tup = (48.8584, 2.2945)
print(f'Lat: {tup[0]}, Lon: {tup[1]}')

# The task
# tup[0] = 48.8585
print("Tupple value cannot be changed")

Lat: 48.8584, Lon: 2.2945
Tupple value cannot be changed

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [14]:
set = {"USA", "France", "Germany"}

# Add new country to the set
set.add("Indonesia")
print(set)

# Add new country with the same name
set.add("USA")
print(set)
print("Set is unordered, unchangeable value, and can't store similar value")

{'USA', 'Indonesia', 'Germany', 'France'}
{'USA', 'Indonesia', 'Germany', 'France'}
Set is unordered, unchangeable value, and can't store similar value

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [15]:
dict_river = {
    "Name" : "Amazon River", 
    "Length": 6400,
    "Countries" : ["Brazil", "Peru", "Columbia"]
}

# The task
dict_river["Discharge"] = 209000
dict_river["Length"] = 6992
print(dict_river)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Columbia'], 'Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [16]:
nest = {
    "Tokyo" : {
        "population" : 13515271,
        "coordinates" : (35.6895, 139.6917)
    }
}

# The task
for city in nest:
    print(f'{city} Population: {nest[city]["population"]}')
    print(f'{city} Latitude: {nest[city]["coordinates"][0]}')

nest["Tokyo"]["population"] = 14000000
print(nest)

Tokyo Population: 13515271
Tokyo Latitude: 35.6895
{'Tokyo': {'population': 14000000, 'coordinates': (35.6895, 139.6917)}}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [17]:
# The task
list.sort()
print(f'{list} \n')

# list2 = []
# for item in list:
#     list2.append(item[0])

list2 = [item[0] for item in list]
print(f'{list2} \n')

# del list[3]
rem_val = list.pop()
print(f'Removed value: {rem_val}') 
# Wierd behavior when print(f'{list.pop()}') why?
print(f'New list: {list}')

[('Chicago', [41.8781, -87.6298]), ('Los Angeles', [34.0522, -118.2437]), ('Miami', [25.7617, -80.1918]), ('New York City', [40.7128, -74.006])]

['Chicago', 'Los Angeles', 'Miami', 'New York City']

Removed value: ('New York City', [40.7128, -74.006])
New list: [('Chicago', [41.8781, -87.6298]), ('Los Angeles', [34.0522, -118.2437]), ('Miami', [25.7617, -80.1918])]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [18]:
# The task
print(f'Dictionary length: {len(dict_river)}')
print(f'Dictionary Keys: {dict_river.keys()}')
print(f'Dictionary Values: {dict_river.values()}')

Dictionary length: 4
Dictionary Keys: dict_keys(['Name', 'Length', 'Countries', 'Discharge'])
Dictionary Values: dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Columbia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [19]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [22]:
# New list contains the names of the locations
names = [item[0] for item in locations]
print(f'New List: {names}')

# dic_locs = dict(locations) # Will raise error
dic_locs = {}
for item in locations:
    dic_locs[item[0]] = (item[1], item[2])

print(f'K2 latitude: {dic_locs["K2"]}')

New List: ['Mount Everest', 'K2', 'Kangchenjunga']
K2 latitude: (35.8808, 76.5155)