# Lab 2

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_02.ipynb)

This notebook contains exercises based on the lectures on [**String Operations**](https://geog-312.gishub.org/book/python/04_string_operations.html) and [**Looping and Control Statements**](https://geog-312.gishub.org/book/python/05_looping.html). These exercises will help reinforce the concepts of string manipulation, loops, and conditionals in geospatial contexts.

## Exercise 1: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [26]:
river_name = "Amazon River"
print(river_name.lower())
print(river_name.upper())

country_name = "Brazil"
full_location = f'{river_name}, {country_name}'
print(full_location)

repeated = " - ".join([full_location] * 3)
print(repeated)

amazon river
AMAZON RIVER
Amazon River, Brazil
Amazon River, Brazil - Amazon River, Brazil - Amazon River, Brazil

## Exercise 2: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [28]:
coordinate = "40.7128N, 74.0060W"
lat_str, lon_str = coordinate.split(',')
latitude = float(lat_str[:-1])
longitude = float(lon_str[:-1])

formatted = f'POINT({latitude} {longitude})'
print(formatted)

POINT(40.7128 74.006)

## Exercise 3: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [34]:
table_name = "cities"
condition = "population > 1000000"

query = f'SELECT * FROM {table_name} WHERE {condition};'
print(query)

add_condition = "zipcode = 12345"
query = f'SELECT * FROM {table_name} WHERE {condition} AND {add_condition};'
print(query)

# Other solution to point 3
conditions = ["population > 1000000", "zipcode = 12345", "area > 100"]
where_clause = " AND ".join(conditions)
query = f'SELECT * FROM {table_name} WHERE {where_clause};'
print(query)

SELECT * FROM cities WHERE population > 1000000;
SELECT * FROM cities WHERE population > 1000000 AND zipcode = 12345;
SELECT * FROM cities WHERE population > 1000000 AND zipcode = 12345 AND area > 100;

## Exercise 4: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [36]:
city_names = [" new york ", "Los ANGELES", "   CHICAGO"]
formatted = [cities.strip().title() for cities in city_names]
print(formatted)

['New York', 'Los Angeles', 'Chicago']

## Exercise 5: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [37]:
address = "123 Main St, Springfield, USA"

def dictionaryGenerator(m_address):
    street, city, country = m_address.split(", ")
    return {'street' : street, 'city' : city, 'country': country}

print(dictionaryGenerator(address))

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 6: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [38]:
coordinates = [
    (40.7128, -74.0060),   # New York City, USA (Northern, Western)
    (-33.8688, 151.2093),  # Sydney, Australia (Southern, Eastern)
    (51.5074, -0.1278),    # London, UK (Northern, Western)
    (-23.5505, -46.6333),  # SÃ£o Paulo, Brazil (Southern, Western)
    (35.6895, 139.6917),   # Tokyo, Japan (Northern, Eastern)
    (-1.2921, 36.8219),    # Nairobi, Kenya (Southern, Eastern)
    (55.7558, 37.6173),    # Moscow, Russia (Northern, Eastern)
    (48.8566, 2.3522),     # Paris, France (Northern, Eastern)
    (19.4326, -99.1332),   # Mexico City, Mexico (Northern, Western)
    (-34.6037, -58.3816)   # Buenos Aires, Argentina (Southern, Western)
]

# Northern and Southern Hemisphere is determined using latitude value:
for coordinate in coordinates:
    if (coordinate[0] > 0):
        print(f'{coordinate} is in the Northern Hemisphere.')
    elif (coordinate[0] < 0):
        print(f'{coordinate} is in the Southern Hemisphere.')
    else:
        print(f'{coordinate} is at the Equator.')

(40.7128, -74.006) is in the Northern Hemisphere.
(-33.8688, 151.2093) is in the Southern Hemisphere.
(51.5074, -0.1278) is in the Northern Hemisphere.
(-23.5505, -46.6333) is in the Southern Hemisphere.
(35.6895, 139.6917) is in the Northern Hemisphere.
(-1.2921, 36.8219) is in the Southern Hemisphere.
(55.7558, 37.6173) is in the Northern Hemisphere.
(48.8566, 2.3522) is in the Northern Hemisphere.
(19.4326, -99.1332) is in the Northern Hemisphere.
(-34.6037, -58.3816) is in the Southern Hemisphere.

## Exercise 7: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [40]:
coordinates = [
    (55.7558, 37.6173),    # Moscow, Russia (Northern, Eastern)
    (48.8566, 2.3522),     # Paris, France (Northern, Eastern)
    (40.7128, -74.0060),   # New York City, USA (Northern, Western)
    (-33.8688, 151.2093),  # Sydney, Australia (Southern, Eastern)
    (51.5074, -0.1278),    # London, UK (Northern, Western)
    (-23.5505, -46.6333),  # SÃ£o Paulo, Brazil (Southern, Western)
    (35.6895, 139.6917),   # Tokyo, Japan (Northern, Eastern)
    (-1.2921, 36.8219),    # Nairobi, Kenya (Southern, Eastern)
    (19.4326, -99.1332),   # Mexico City, Mexico (Northern, Western)
    (-34.6037, -58.3816)   # Buenos Aires, Argentina (Southern, Western)
]

i = 0
while i < len(coordinates):
    if (coordinates[i][0] < 0):
        break
    print(coordinates[i])
    i += 1

(55.7558, 37.6173)
(48.8566, 2.3522)
(40.7128, -74.006)

## Exercise 8: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [42]:
coordinates = [
    (55.7558, 37.6173),    # Moscow, Russia (Northern, Eastern)
    (48.8566, 2.3522),     # Paris, France (Northern, Eastern)
    (40.7128, -74.0060),   # New York City, USA (Northern, Western)
    (-33.8688, 151.2093),  # Sydney, Australia (Southern, Eastern)
    (51.5074, -0.1278),    # London, UK (Northern, Western)
    (-23.5505, -46.6333),  # SÃ£o Paulo, Brazil (Southern, Western)
    (35.6895, 139.6917),   # Tokyo, Japan (Northern, Eastern)
    (-1.2921, 36.8219),    # Nairobi, Kenya (Southern, Eastern)
    (19.4326, -99.1332),   # Mexico City, Mexico (Northern, Western)
    (-34.6037, -58.3816)   # Buenos Aires, Argentina (Southern, Western)
]

# Eastern and Western Hemisphere is determined using longitude value:
for coordinate in coordinates:
    if (coordinate[1] > 0):
        print('Eastern Hemisphere.')
    else:
        print('Western Hemisphere.')

Eastern Hemisphere.
Eastern Hemisphere.
Western Hemisphere.
Eastern Hemisphere.
Western Hemisphere.
Western Hemisphere.
Eastern Hemisphere.
Eastern Hemisphere.
Western Hemisphere.
Western Hemisphere.

## Exercise 9: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [45]:
coordinates = [
    (55.7558, 37.6173),    # Moscow, Russia (Northern, Eastern)
    (48.8566, 2.3522),     # Paris, France (Northern, Eastern)
    (40.7128, -74.0060),   # New York City, USA (Northern, Western)
    (-33.8688, 151.2093),  # Sydney, Australia (Southern, Eastern)
    (51.5074, -0.1278),    # London, UK (Northern, Western)
    (-23.5505, -46.6333),  # SÃ£o Paulo, Brazil (Southern, Western)
    (35.6895, 139.6917),   # Tokyo, Japan (Northern, Eastern)
    (-1.2921, 36.8219),    # Nairobi, Kenya (Southern, Eastern)
    (19.4326, -99.1332),   # Mexico City, Mexico (Northern, Western)
    (-34.6037, -58.3816)   # Buenos Aires, Argentina (Southern, Western)
]

south_coordinates = []
for coordinate in coordinates:
    if (coordinate[0] < 0):
        south_coordinates.append(coordinate)

print(len(south_coordinates))

# OR
counter = 0
for coordinate in coordinates:
    if (coordinate[0] < 0):
        counter += 1

print(counter)

4
4

## Exercise 10: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [54]:
import random

def coordinateGenerator():
    coordinate = (0, 0)
    while i < i + 1:
        coordinate = (random.randrange(-90, 90), random.randrange(-180, 180))
        print(coordinate)
        if (coordinate[0] > 50 and coordinate[1] > 50):
            break

coordinateGenerator()

(-88, -14)
(9, -153)
(-52, 133)
(49, -62)
(-42, -84)
(-69, 107)
(63, 92)